DJGENT_DEFAULT_LLM=openrouter:qwen/qwen3-vl-30b-a3b-thinking

# Uncomment the provider you want to use.
# OPENAI_API_KEY=
# ANTHROPIC_API_KEY=
# GOOGLE_API_KEY=
# GROQ_API_KEY=
OPENROUTER_API_KEY=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
